$red: (
  bright-red: #ff0000,
  crimson: #dc143c,
  firebrick: #b22222,
  dark-red: #8b0000,
  tomato: #ff6347,
  indian-red: #cd5c5c,
  salmon: #fa8072,
  light-coral: #f08080,
  rosy-brown: #bc8f8f,
  pale-violet-red: #db7093,
);
