$red : (
    bright-red: #FF0000,
  crimson: #DC143C,
  firebrick: #B22222,
  dark-red: #8B0000,
  tomato: #FF6347,
  indian-red: #CD5C5C,
  salmon: #FA8072,
  light-coral: #F08080,
  rosy-brown: #BC8F8F,
  pale-violet-red: #DB7093
)